@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* ↓ Components ↓ */

.btn {
  @apply rounded-lg bg-white text-pink-500 font-extrabold hover:text-black hover:bg-pink-100 p-2;
}

.link {
  /* NOTE: Why Next.js doesn't apply default highlight for href? */
  @apply text-blue-700 hover:text-blue-500
}
